doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container
        
            include ../layout/header

            main
                include ../layout/main

            include ../layout/footer



