
.banner     
    //- img(src="images/banner/1.png")
.main__header.wrapper
    h1 Главная

.news__list.wrapper
    article.news__item.hor-news
        .news__img
            img(src="images/news/4.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать

    article.news__item.hor-news
        .news__img
            img(src="images/news/1.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать

    article.news__item.hor-news
        .news__img
            img(src="images/news/2.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать
    article.news__item.hor-news
        .news__img
            img(src="images/news/4.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать

    article.news__item.hor-news
        .news__img
            img(src="images/news/1.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать

    article.news__item.hor-news
        .news__img
            img(src="images/news/2.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать