.banner     
    //- img(src="images/banner/1.png")

.main__header.wrapper
    h1 Главное


.news__list.wrapper
    article.news__item.vert-news.big-news
        .news__img
            img(src="images/news/1.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=50) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=80) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать

    article.news__item.vert-news.small-news
        .news__img
            img(src="images/news/2.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=50) Пензенским спортсменам вручили денежные сертификаты и грамоты
                p.news__text(data-crop=80) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать

    article.news__item.vert-news.small-news
        .news__img
            img(src="images/news/3.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=50) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=80) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать


.secondary__header.wrapper
    h2 Последние новости
    a.news__link(href="" target="_blank") Смотреть все

.news__list.wrapper
    article.news__item.hor-news
        .news__img
            img(src="images/news/4.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать

    article.news__item.hor-news
        .news__img
            img(src="images/news/1.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать

    article.news__item.hor-news
        .news__img
            img(src="images/news/2.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать


.news__slider.swiper
    .swiper-wrapper 
        .news__slider-item.swiper-slide
            .news__img
                img(src="images/news/4.png")
                .news__img-overflow

            .news__info
                .news__info-wrap
                    span.news__date 11.08.2023
                    h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                    p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
                a.news__link(href="" target="_blank") Читать

        .news__slider-item.swiper-slide
            .news__img
                img(src="images/news/2.png")
                .news__img-overflow

            .news__info
                .news__info-wrap
                    span.news__date 11.08.2023
                    h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                    p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
                a.news__link(href="" target="_blank") Читать

        .news__slider-item.swiper-slide
            .news__img
                img(src="images/news/1.png")
                .news__img-overflow

            .news__info
                .news__info-wrap
                    span.news__date 11.08.2023
                    h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                    p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
                a.news__link(href="" target="_blank") Читать

    .swiper-pagination






.secondary__header.wrapper
    h2 Популярное
    a.news__link(href="" target="_blank") Смотреть все

.news__list.wrapper
    article.news__item.hor-news
        .news__img
            img(src="images/news/4.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать

    article.news__item.hor-news
        .news__img
            img(src="images/news/1.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать


.news__filters.swiper.wrapper
    .swiper-wrapper
        a.news__filter.swiper-slide.active-filter
            span Власть
        a.news__filter.swiper-slide
            span Власть
        a.news__filter.swiper-slide
            span Власть
        a.news__filter.swiper-slide
            span Власть
        a.news__filter.swiper-slide
            span Власть

.news__list.wrapper
    article.news__item.hor-news
        .news__img
            img(src="images/news/4.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать

    article.news__item.hor-news
        .news__img
            img(src="images/news/1.png")

        .news__info
            .news__info-wrap
                span.news__date 11.08.2023
                h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
            a.news__link(href="" target="_blank") Читать


.news__slider.swiper
    .swiper-wrapper 
        .news__slider-item.swiper-slide
            .news__img
                img(src="images/news/1.png")
                .news__img-overflow

            .news__info
                .news__info-wrap
                    span.news__date 11.08.2023
                    h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                    p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
                a.news__link(href="" target="_blank") Читать

        .news__slider-item.swiper-slide
            .news__img
                img(src="images/news/2.png")
                .news__img-overflow

            .news__info
                .news__info-wrap
                    span.news__date 11.08.2023
                    h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                    p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
                a.news__link(href="" target="_blank") Читать

        .news__slider-item.swiper-slide
            .news__img
                img(src="images/news/3.png")
                .news__img-overflow

            .news__info
                .news__info-wrap
                    span.news__date 11.08.2023
                    h2.news__title(data-crop=30) 7 идей, куда сходить на выходные в Пензе 12 и 13 августа 2023: «Спас», уникальные авто и новый Индиана Джонс
                    p.news__text(data-crop=50) Советуем провести очередные выходные ярко – на праздниках, спектаклях, выставках и других культурных и спортивных мероприятиях. Итак, куда сходить на выходные в Пензе 12 и 13 августа 2023 года.
                a.news__link(href="" target="_blank") Читать

    .swiper-pagination